<p> <a href="<?php echo $this->baseUrl('admin/index/addcategory'); ?>"> Add new file </a></p>
<p> <a href="<?php echo $this->baseUrl('admin/index/allproduct'); ?>"> All product </a></p>
<p> <a href="<?php echo $this->baseUrl('admin/index/allvendor'); ?>"> All vendor </a></p>

<table>
    <tr>
        <td>Name</td>
    </tr>
    <?php foreach ($this->file as $files): ?>
        <tr>

            <td> <?php echo $this->escape($files->name); ?></td>
            <td>
                <a href="<?php echo $this->baseUrl('admin/index/deletecategory'); ?>/id/<?php echo $this->escape($files->CategoryId); ?>">delete</a>
            </td>

        <?php endforeach; ?>
        <td><a href='logout'>Logout</a></td>
    </tr>
</table>