<p> <a href="<?php echo $this->baseUrl('admin/index/addproduct'); ?>"> Add new file </a></p>
<p> <a href="<?php echo $this->baseUrl('admin/index/allcategory'); ?>"> All category </a></p>
<p> <a href="<?php echo $this->baseUrl('admin/index/allcategory'); ?>"> All vendor </a></p>

<table>
   
    <?php foreach ($this->file as $files): ?>
        
        <tr>
            <td> <?php echo $this->escape($files->name); ?></td>
        </tr>
        <tr>
            <td> <?php echo $this->escape($files->price); ?></td>
        </tr>
        <tr>
            <td> <?php echo $this->escape($files->quantity); ?></td>
        </tr>
        <tr>
            <td> <?php $name=$this->escape($files->description); ?></td>
        </tr>
        <tr>         
            <td><?php echo '<img src="'.$this->baseUrl('upload/').$this->escape($files->picture).'" width="200px" height="150px"/>';?></td>       
        </tr>
       
        <td>
            <a href="<?php echo $this->baseUrl('admin/index/deleteproduct'); ?>/id/<?php echo $this->escape($files->ProductId); ?>">delete</a>
            
        </td>
      
    </tr>

<?php endforeach; ?>
 <td> <a href='logout'>Logout</a><td>
</table>