<p>Are you sure that you want to delete
'<?php echo $this->escape($this->file['name']); ?>'
</p>
<form action="<?php echo $this->url(array('action'=>'deletecategory')); ?>" method="post">
<div>        
<input type="hidden" name="id" value="<php echo $this->escape($this->file['id']); ?>" />
<input type="submit" name="del" value="Yes" />
<input type="submit" name="del" value="No" />
</div>
</form>