<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>php-sdk</title>
        <style>
            body {
                font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
            }
            h1 a {
                text-decoration: none;
                color: #3b5998;
            }
            h1 a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h1>php-sdk</h1>

        <?php if ($this->user):?>
            <a href="<?php echo $this->logout;?>">Logout</a>
            <a href="user/index">User info</a>
        <?php else:?>
            <div>
                Check the login status using OAuth 2.0 handled by the PHP SDK:
                <a href="<?php echo $this->status; ?>">Check the login status</a>
            </div>
            <div>
                Login using OAuth 2.0 handled by the PHP SDK:
                <a href="<?php echo  $this->login; ?>">Login with Facebook</a>
            </div>
        <?php endif ?>

            <?php if ($this->user): ?>
                <h3>You</h3>
                <img src="https://graph.facebook.com/<?php echo $this->user; ?>/picture?type=large">                    
            <form action="registretion" method="post">
                  <input type="hidden" name="facebookid" value="<?php echo $this->userprofile['id']; ?>"><br/>
                 Email: <input type="text" name="email" value="<?php echo $this->userprofile['email']; ?>"><br/>               
                 Password: <input type="password" name="password"><br/>
                 Repeat password: <input type="password" name="passwordtwo"><br/>
                 Name: <input type="text" name="name" value="<?php echo $this->userprofile['name']; ?>"><br/>
                 Birthday: <input type="text" name="birthday" value="<?php echo $this->userprofile['birthday'];?>"><br/>
                 Location: <input type="text" name="location" value="<?php echo $this->userprofile['location']['name'];?>"><br/>
                 <input type="submit" value='Registretion'/>  
            </form>
                               
        <?php else: ?>
            <strong><em>You are not Connected.</em></strong>
        <?php endif ?>
       
    </body>
</html>