
<!DOCTYPE html>
<html>
    <head>
        <style>
            #map_canvas {
                width: 500px;
                height: 400px;
            }
        </style> 
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            function initialize() {
                var latlng = new google.maps.LatLng(<?php echo $this->lat; ?>,<?php echo $this->long; ?>);
                var myOptions = {
                    zoom: 8,
                    center: latlng,
                    mapType: google.maps.MapTypeId.ROADMAP
                };
                var firstmap = new google.maps.Map(document.getElementById("map_canvas"),
                        myOptions);
                var point = new google.maps.LatLng(<?php echo $this->lat; ?>, <?php echo $this->long;?>);
                var marker = new google.maps.Marker({
                    position: point,
                    map: firstmap,
                    dragable:true,
                })
            }
        </script>
    </head>
    <body onload="initialize()">
        <div id="map_canvas" style="width:300px;height:300px"></div>
        <table>
            <tr>  
                
            </tr>          
            <?php foreach ($this->file as $files): ?>
                <tr> 
                    
                    <td> <?php echo $this->escape($files->name); ?></td>

                </tr>
                <tr> 

                    <td> <?php echo $this->escape($files->email); ?></td>
                </tr>

                <tr> 
                    <td> <?php echo $this->escape($files->birthday); ?></td>
                </tr>

                <tr> 
                    

            
               <td><?php echo '<img src="'.$this->baseUrl('user/').$this->escape($files->avatar).'" width="200px" height="210px"/>';?></td>       
    
            </tr>
        <?php endforeach; ?>      

        <td><a href='logout'>Logout</a></td>

    </table>
       
</body>
</html>








  